In [ ]:
# Remove file for re-running of code
!rm clean_hawaii_measurements_csv.csv

In [9]:
# Import dependencies
import pandas as pd
import matplotlib as plt
import numpy as np
import os

In [10]:
# Read in the measurement CSV file as DataFrame; inspect for missing data
hawaii_measurements = pd.read_csv("hawaii_measurements.csv")
hawaii_measurements.head(50)

        station        date  prcp  tobs
0   USC00519397  2010-01-01  0.08    65
1   USC00519397  2010-01-02  0.00    63
2   USC00519397  2010-01-03  0.00    74
3   USC00519397  2010-01-04  0.00    76
4   USC00519397  2010-01-06   NaN    73
5   USC00519397  2010-01-07  0.06    70
6   USC00519397  2010-01-08  0.00    64
7   USC00519397  2010-01-09  0.00    68
8   USC00519397  2010-01-10  0.00    73
9   USC00519397  2010-01-11  0.01    64
10  USC00519397  2010-01-12  0.00    61
11  USC00519397  2010-01-14  0.00    66
12  USC00519397  2010-01-15  0.00    65
13  USC00519397  2010-01-16  0.00    68
14  USC00519397  2010-01-17  0.00    64
15  USC00519397  2010-01-18  0.00    72
16  USC00519397  2010-01-19  0.00    66
17  USC00519397  2010-01-20  0.00    66
18  USC00519397  2010-01-21  0.00    69
19  USC00519397  2010-01-22  0.00    67
20  USC00519397  2010-01-23  0.00    67
21  USC00519397  2010-01-24  0.01    71
22  USC00519397  2010-01-25  0.00    67
23  USC00519397  2010-01-26  0.04    76
24  USC00519397  2010-01-27  0.12    68
25  USC00519397  2010-01-28  0.00    72
26  USC00519397  2010-01-30   NaN    70
27  USC00519397  2010-01-31  0.03    67
28  USC00519397  2010-02-01  0.01    66
29  USC00519397  2010-02-03   NaN    67
30  USC00519397  2010-02-04  0.01    69
31  USC00519397  2010-02-05  0.00    67
32  USC00519397  2010-02-06  0.00    67
33  USC00519397  2010-02-07  0.00    64
34  USC00519397  2010-02-08  0.00    69
35  USC00519397  2010-02-09  0.00    73
36  USC00519397  2010-02-11  0.00    73
37  USC00519397  2010-02-12  0.02    69
38  USC00519397  2010-02-13  0.01    69
39  USC00519397  2010-02-14  0.00    69
40  USC00519397  2010-02-15  0.00    71
41  USC00519397  2010-02-16  0.00    61
42  USC00519397  2010-02-17  0.00    69
43  USC00519397  2010-02-19   NaN    63
44  USC00519397  2010-02-20  0.03    64
45  USC00519397  2010-02-21  0.00    65
46  USC00519397  2010-02-22  0.00    67
47  USC00519397  2010-02-23  0.00    68
48  USC00519397  2010-02-24  0.00    65
49  USC00519397  2010-02-25  0.00    76

In [11]:
# Drop rows with missing data
hawaii_measurements = hawaii_measurements.dropna(axis=0)
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [12]:
# Reset index after removing null values
clean_hawaii_measurements = hawaii_measurements.reset_index(drop=True)
clean_hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [14]:
# Save clean csv file
cleaned_hawaii_measurements = "clean_hawaii_measurements_csv.csv"
clean_hawaii_measurements.to_csv(cleaned_hawaii_measurements, index=False)

AttributeError: 'str' object has no attribute 'to_csv'

In [6]:
# Read in the station CSV file as DataFrame; inspect for missing data
hawaii_stations = pd.read_csv("hawaii_stations.csv")
hawaii_stations.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4